root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.md]
indent_style = tab
trim_trailing_whitespace = false

[{package.json}]
indent_style = space
indent_size = 2
